body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .python-header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  .python-content {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .python-section {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease; /* Smooth transition for background color */
    transition: transform 0.5s ease; /* 添加平移效果的过渡 */
  }
  

  .python-section:hover {
    background-color: rgb(249, 245, 230); /* Change background color on hover */
    transform: scale(1.02); /* 在悬停时放大内容 */
  }

  .section-title {
    font-size: 24px;
    color: #333;
  }
  
  .section-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .toggle-code {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-code:hover {
    background-color: #2980b9;
  }
  
  .code-block {
    display: none;
  }
  
  /* 代码块展开动画效果 */
  .code-block.active {
    display: block;
    animation: fadeIn 0.5s ease;
  }
  
  .download-section {
    text-align: center;
    margin-top: 20px;
  }
  
  .download-button {
    background-color: #27ae60;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .download-button:hover {
    background-color: #219a52;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
/* 添加到 python-practice-styles.css 文件中 */

