body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  .column {
    background-color: #fff;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease; /* Smooth transition for background color */
    transition: transform 0.5s ease; /* 添加平移效果的过渡 */
  }

  .column:hover {
    background-color: rgb(249, 245, 230); /* Change background color on hover */
    transform: scale(1.02); /* 在悬停时放大内容 */
  }
  
  .column-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .article-list {
    list-style-type: none;
    padding: 0;
  }
  
  .article-item {
    margin-bottom: 15px;
  }
  
  .article-title {
    font-size: 18px;
    color: #555;
  }
  
  .article-title a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .article-title a:hover {
    text-decoration: underline;
  }
  