
body {
    /*overflow: hidden; */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(211,218,237);
    transition: background-color 0.5s ease; /* Smooth transition for background color */
    cursor: pointer;
    
    
}
body:hover {
    /*background-color: rgba(3,3,1);/* Change background color on hover */
    background-color: rgba(240, 226, 165, 0.386) ;
    
}

.leaves {
    position: fixed; /* Use fixed position to make leaves appear over the entire page */
    width: 40px;
    height: 40px;
    
    z-index: -1;
    background-image: url('img/snow.png'); /* Set the path to your custom snowflake image */
    background-size: cover;
}

header {
    background-color:rgb(30,30,30);
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 1em;
    z-index: -2;
    
}

nav {
    background-color:rgb(40, 40, 40);
    padding: 1em;
    z-index: -2;

}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
    border-radius: 4px;
    font-size: large;
    font-weight: 700;
}

nav a:hover {
    background-color: #555;
}

/*.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}
*/

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    transition: background-color 0.5s ease; /* Smooth transition for background color */
    transition: transform 0.5s ease; /* 添加平移效果的过渡 */
    z-index: 9999; /* Set a high z-index to ensure it appears on top */
    
}

.container:hover {
    background-color: rgb(249, 245, 230); /* Change background color on hover */
    transform: scale(1.03); /* 在悬停时放大内容 */
    
}

.column-section {
    flex: 1;
    overflow-x: auto;
    padding-right: 20px; /* Add some padding on the right */
}

.column {
    width: 200px; /* Set the width of the column */
    padding: 15px;
}

.column a {
    text-decoration: none;
    color: #333;
    display: block;
    margin-bottom: 10px;
    position: relative;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.column a:hover {
    color: #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 悬停时添加阴影效果 */
    border-color: #555; /* 悬停时改变边框颜色 */
}

.introduction {
    flex: 2;
    padding: 20px;
}

.introduction img {
    max-width: 100%;
    height: auto;
    
}



footer {
    background-color:rgb(10,10,10);
    color: RGB(167,254,141);
    text-align: center;
    padding: 1em;
    
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .column-section {
        overflow-x: hidden;
        padding-right: 0;
    }

    .column {
        width: 100%;
    }

    .introduction {
        flex: 1;
    }
}




